<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Categories</title>
  </head>
  {% include "navbar.html" %}

  <body>
    <main>
      <h1>My Categories</h1>
      <table>
        <thead>
          <th>Name</th>
          <th>Number of receipts</th>
        </thead>
        <tbody>
          {% for category in expensecategory_list %}
            <tr>
              <td>{{ category.name }}</td>
              <td>{{ category.receipts.all|length }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
  {% comment %} <pre>{% debug %}</pre> {% endcomment %}
</html>
