<header>
  <nav>
    <ul>
      {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        <p>
          <li>
            <a href="{% url 'home' %}">See all Receipt</a>
          </li>
          <li>
            <a href="{% url 'list_categories' %}">See all Expense Categories</a>
          </li>
          <li>
            <a href="{% url 'list_accounts' %}">See all Acccounts</a>
          </li>
        </p>
        <p>
          <li>
            <a href="{% url 'create_receipt' %}">Add Receipt</a>
          </li>
          <li>
            <a href="{% url 'create_category' %}">Add Expense Category</a>
          </li>
          <li>
            <a href="{% url 'create_account' %}">Add Acccount</a>
          </li>
        </p>
      {% else %}
        <li>
          <a href="{% url 'signup' %}">Sign Up</a>
        </li>
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</header>
